<div class="banner_section">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 mx-auto">
            <div class="heading_text">
                <h1 class="heading font-bold">Contact Us</h1>

                <div class="small_text">
                    <p class="font-medium">Home | Contact Us</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-form">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-10 mx-auto">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="custom-radio">
                                        <label class="plan basic-plan" for="basic">
                                            <input checked type="radio" name="plan" id="basic" />
                                            <div class="plan-content">
                                                <img loading="lazy" src="assets/img/customer.png" alt="" />
                                                <div class="plan-details">
                                                    <img src="assets/img/customer-logo.png" class="" alt="" />
                                                    <span>Customer</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-radio">
                                        <label class="plan complete-plan" for="complete">
                                            <input type="radio" id="complete" name="plan" />
                                            <div class="plan-content">
                                                <img loading="lazy" src="assets/img/partner.png" alt="" />
                                                <div class="plan-details">
                                                <img src="assets/img/Partner-logo-sm.png" class="img-fluid w-90 " alt="" />
                                                    <span>Partner</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="forms-details">
                                            <input class="form-control" type="text" placeholder="Full Name*" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="forms-details">
                                            <input class="form-control" type="text" placeholder="Email*" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="forms-details">
                                            <input class="form-control" type="text" placeholder="Subject8*" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="forms-details">
                                            <input class="form-control" type="text" placeholder="Number*" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="forms-details">
                                            <textarea name="" class="form-control" placeholder="Message*" width="100" id=""></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-res">
                                        <button class="btn primary-btn" type="submit">Submit</button>
                                    </div>
                                </div>
                               
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="img-sec">
                        <img src="assets/img/main_sec.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-join-us-now></app-join-us-now>

<app-salons-list></app-salons-list>