<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 ">
        <div class="second-card inner-section">
            <div class="img-sec">
                <img src="assets/img/scisor.png" alt="">
            </div>
            <div class="text-sec">
                <p>Our Services</p>
                <h5 style="color: #FE594E;text-align: end;">+30</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card inner-section">
            <div class="img-sec">
                <img src="assets/img/scisor.png" alt="">
            </div>
            <div class="text-sec">
                <p>Upcoming Appointments</p>
                <h5 style="color: #FE594E;text-align: end;">+30</h5>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card inner-section">
            <div class="img-sec">
                <img src="assets/img/scisor.png" alt="">
            </div>
            <div class="text-sec">
                <p>Total Earnings</p>
                <h5 style="color: #FE594E;">+30</h5>
            </div>
           
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card inner-section">
            <div class="img-sec">
                <img src="assets/img/scisor.png" alt="">
            </div>
            <div class="text-sec">
                <p>Total Appointments</p>
                <h5 style="color: #FE594E;">+30</h5>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4 pb-4">
    <div class="col-sm-12 top_heading d-flex justify-content-between">
        <div class="">
            <h2 class="font-bold heading">Upcoming Appointments</h2>
        </div>
        <div class="view_btn">
            <button type="submit" class="btn secondry-btn font-medium">View All</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 ">
        <div class="second-card">
            <div class="inner-section">
                <div class="user-sec">
                    <img src="assets/img/user_img.png" alt="">
                </div>
                <div class="text-sec">
                    <p style="color: #FE594E;">Our Services</p>
                    <small>06 May 2020, 9:45 AM-10:00 AM</small>
                </div>
                <div class="msg">
                    <i class="fa fa-comment-o" style="color: #FE594E;" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-sec d-flex justify-content-between">
                <span class="d-flex align-items-center">
                    <i class="fa fa-shopping-bag" style="color: #FE594E;" aria-hidden="true"></i>
                    &nbsp; <small>2 Services</small>
                </span>
                    <span class="d-flex align-items-center"> <i class="fa fa-user" style="color: #FE594E;" aria-hidden="true"></i>
                        &nbsp; <small>  Michael Harold</small></span>
                
            </div>
            <div class="btn-sec d-flex justify-content-between">
                <button type="submit" class="btn secondry-btn">Cancel</button>
                <button type="submit" class="btn primary-btn">Re-schedule</button>
            </div>
         
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="inner-section">
                <div class="user-sec">
                    <img src="assets/img/user_img.png" alt="">
                </div>
                <div class="text-sec">
                    <p style="color: #FE594E;">Our Services</p>
                    <small>06 May 2020, 9:45 AM-10:00 AM</small>
                </div>
                <div class="msg">
                    <i class="fa fa-comment-o" style="color: #FE594E;" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-sec d-flex justify-content-between">
                <span class="d-flex align-items-center">
                    <i class="fa fa-shopping-bag" style="color: #FE594E;" aria-hidden="true"></i>
                    &nbsp; <small>2 Services</small>
                </span>
                    <span class="d-flex align-items-center"> <i class="fa fa-user" style="color: #FE594E;" aria-hidden="true"></i>
                        &nbsp; <small>  Michael Harold</small></span>
                
            </div>
            <div class="btn-sec d-flex justify-content-between">
                <button type="submit" class="btn secondry-btn">Cancel</button>
                <button type="submit" class="btn primary-btn">Re-schedule</button>
            </div>
         
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="inner-section">
                <div class="user-sec">
                    <img src="assets/img/user_img.png" alt="">
                </div>
                <div class="text-sec">
                    <p style="color: #FE594E;">Our Services</p>
                    <small>06 May 2020, 9:45 AM-10:00 AM</small>
                </div>
                <div class="msg">
                    <i class="fa fa-comment-o" style="color: #FE594E;" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-sec d-flex justify-content-between">
                <span class="d-flex align-items-center">
                    <i class="fa fa-shopping-bag" style="color: #FE594E;" aria-hidden="true"></i>
                    &nbsp; <small>2 Services</small>
                </span>
                    <span class="d-flex align-items-center"> <i class="fa fa-user" style="color: #FE594E;" aria-hidden="true"></i>
                        &nbsp; <small>  Michael Harold</small></span>
                
            </div>
            <div class="btn-sec d-flex justify-content-between">
                <button type="submit" class="btn secondry-btn">Cancel</button>
                <button type="submit" class="btn primary-btn">Re-schedule</button>
            </div>
         
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="inner-section">
                <div class="user-sec">
                    <img src="assets/img/user_img.png" alt="">
                </div>
                <div class="text-sec">
                    <p style="color: #FE594E;">Our Services</p>
                    <small>06 May 2020, 9:45 AM-10:00 AM</small>
                </div>
                <div class="msg">
                    <i class="fa fa-comment-o" style="color: #FE594E;" aria-hidden="true"></i>
                </div>
            </div>
            <div class="admin-sec d-flex justify-content-between">
                <span class="d-flex align-items-center">
                    <i class="fa fa-shopping-bag" style="color: #FE594E;" aria-hidden="true"></i>
                    &nbsp; <small>2 Services</small>
                </span>
                    <span class="d-flex align-items-center"> <i class="fa fa-user" style="color: #FE594E;" aria-hidden="true"></i>
                        &nbsp; <small>  Michael Harold</small></span>
                
            </div>
            <div class="btn-sec d-flex justify-content-between">
                <button type="submit" class="btn secondry-btn">Cancel</button>
                <button type="submit" class="btn primary-btn">Re-schedule</button>
            </div>
         
        </div>
    </div>
</div>

<div class="row pt-4 pb-4">
    <div class="col-sm-12 top_heading d-flex justify-content-between">
        <div class="">
            <h2 class="font-bold heading">Services</h2>
        </div>
        <div class="view_btn">
            <button type="submit" class="btn secondry-btn font-medium">View All</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/scisor.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                <h6 class="font-semi-bold" style="color: #FE594E;">$4</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/beard.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                <h6 class="font-semi-bold" style="color: #FE594E;">$4</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/brush.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                <h6 class="font-semi-bold" style="color: #FE594E;">$4</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/nail.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                <h6 class="font-semi-bold" style="color: #FE594E;">$4</h6>
            </div>
        </div>
    </div>
</div>


<div class="row pt-4 pb-4">
    <div class="col-sm-12 top_heading d-flex justify-content-between">
        <div class="">
            <h2 class="font-bold heading">Salon Staff</h2>
        </div>
        <div class="view_btn">
            <button type="submit" class="btn secondry-btn font-medium">View All</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/scisor.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                
            </div>
            <div class="active-sec d-flex justify-content-between form-check form-switch">
                <p class="text-muted">Inactive</p>
                <input class="form-check-input" type="checkbox">
                <p>Active</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/beard.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
              
            </div>
            <div class="active-sec d-flex justify-content-between form-check form-switch">
                <p class="text-muted">Inactive</p>
                <input class="form-check-input" type="checkbox">
                <p>Active</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/brush.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
                
            </div>
            <div class="active-sec d-flex justify-content-between form-check form-switch">
                <p class="text-muted">Inactive</p>
                <input class="form-check-input" type="checkbox">
                <p>Active</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end" >
                <img src="assets/img/three-dots.png"  alt="">
            </div>
            <div class="inner_sec text-center">
                <img src="assets/img/nail.png" alt="">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>
              
            </div>
            <div class="active-sec d-flex justify-content-between form-check form-switch">
                <p class="text-muted">Inactive</p>
                <input class="form-check-input" type="checkbox">
                <p>Active</p>
            </div>
        </div>
    </div>
</div>

