
  <div class="row top_heading">
    <div class="col-sm-12 col-md-4">
      <h2 class="font-bold heading">Users </h2>
    </div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-end">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="forms-details">
                    <input class="form-control" type="text" placeholder="Search by Customer name, date & Specialist" />
                </div>
             
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="view_btn">
                    <button type="submit" class="btn secondry-btn font-medium">
                      Search Now
                    </button>
                  </div>
            </div>
        </div>
     
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2" (click)="appointementSchedulePopup()">
        <div class="box">
            <div class="text-section text-center">
                <img src="" alt="user-img" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="box">
            <div class="text-section text-center">
                <img src="" alt="user-img" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="box">
            <div class="text-section text-center">
                <img src="" alt="user-img" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="box">
            <div class="text-section text-center">
                <img src="" alt="user-img" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="box">
            <div class="text-section text-center">
                <img src="" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="box">
            <div class="text-section text-center">
                <img src="" />
                <h6 style="color: #000000;opacity: 0.41;">Michael Marleds</h6>
            </div>
        </div>
    </div>
</div>
