.top_heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    flex-wrap: wrap;

    .heading {
        letter-spacing: 1.73px;
        line-height: 45px;
        position: relative;
    }

    .heading::after {
        content: "";
        border: 2px solid #FB634F;
        display: block;
        position: absolute;
        left: 0;
        margin: auto;
        width: 100px;
        transform: -50%, -50%;
    }


}
.btn{
    font-size:smaller ;
}
.price{
    color: #FB634F;
}
.time{
    color: #A1A1A2;
}