
 <div class="row">
    <div class="col-sm-12 top_heading d-flex justify-content-between">
        <div class="">
            <h2 class="font-bold heading">Services  </h2>
        </div>
        <div class="view_btn">
            <button type="submit" class="btn secondry-btn font-medium mx-3" (click)="addHeaderServicePopup()" >Add Service Header</button>
            <button type="submit" class="btn primary-btn font-medium" (click)="addServicePopup()">Add Services</button>
        </div>
    </div>
</div>
<div class="hair-cut-text d-flex align-items-center" >
    <h5 style="color: #FB634F;padding-right: 10px;">Haircuts & Styling</h5>
<i class="fa fa-edit time" ></i>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let item of serviceData; let i = index;">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end">
                <img src="assets/img/three-dots.png" alt="">
            </div>
            <div class="inner_sec text-center">
                <h6 class="font-semi-bold">{{item?.service_name}}</h6>

            </div>
            <div class="active-sec d-flex justify-content-between">
                <p class="price">${{item?.price}}</p>
                <p class="time">{{item?.times}} mins</p>
            </div>
        </div>
    </div>
    
</div>