.modal-body .box {
    margin: 0.5rem 1.5rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px #00000014;
    background-color: #fff;
    border-radius: 5px;
    p {
        font-weight: 500;
    }
    span {
        color: #FE594E;
    }
}