<ul>
    <li class="nav-link" routerLink="/home/admin/dashboard" routerLinkActive="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a>Dashboard</a>
    </li>
    <li class="nav-link" routerLink='/home/admin/appointment' routerLinkActive="active">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <a>Appointment</a>
    </li>
    <li class="nav-link" routerLink='/home/admin/salons-and-specialist' routerLinkActive="active">
        <i class="fa fa-users" aria-hidden="true"></i>
        <a>Salons & Specialist</a>
    </li>
    <li class="nav-link" routerLink='/home/admin/schedules' routerLinkActive="active">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <a>Schedules</a>
    </li>
    <li class="nav-link" routerLink='/home/admin/more' routerLinkActive="active">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <a>More</a>
    </li>

</ul>