<div class="row navbar-sticky">
    <div class="col-11 mx-auto">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <img src="assets/img/logo.png" routerLink="/home" class="img-fliud" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item" routerLink="/home">
                            <a class="nav-link  font-medium font-color" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item" routerLink="/home/salons">
                            <a class="nav-link font-medium font-color">Salons</a>
                        </li>
                        <li class="nav-item" routerLink="/home/blog">
                            <a class="nav-link font-medium font-color">Blog</a>
                        </li>
                        <li class="nav-item" routerLink="/home/contact-us">
                            <a class="nav-link font-medium font-color">Contact Us</a>
                        </li>
                        <li class="nav-item" routerLink="/auth/login">
                            <button class="btn primary-btn"> Login</button>
                        </li>
                        <li class="nav-item" routerLink="/auth/signup">
                            <button class="btn secondry-btn"> Signup</button>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>