<div class="secondary-card">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
            <div class="img-sec">
                <img src="assets/img/bull-horn-img.png" alt="">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-8">
            <div class="text-section">
                <h3 style="color:#FE594E ;">A Touch of Class</h3>
                <span>
                    <p class="small-text d-flex">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        06 May 2020, 9:45 AM-10:00 AM

                    </p>
                    <p class="small-text d-flex">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        06 May 2020, 9:45 AM-10:00 AM
                    </p>
                    <p class="small-text d-flex">
                        <span class="d-flex align-items-center">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            <p>2.5 km</p>
                        </span>
                        <span class="d-flex align-items-center mx-4">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            <p>2 Services</p>

                        </span>
                        <span class="d-flex align-items-center">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <p>Michael Harold</p>

                        </span>
                    </p>

                </span>

                <div class="star_text">
                    <i class="fa fa-star"></i>
                    <span class="rating">4.5</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
            <div class="btn-section">
                <div class="d-flex right-side">
                    <i class="fa fa-comments fa-2x" style="color: #FE594E;" aria-hidden="true"></i>
                    <h5 style="color: #FE594E;padding-left: 1rem;"> Chat Us</h5>
                </div>
                <div class="right-side">
                    <button type="submit" class="btn primary-btn">
                        Cancel
                    </button>
                </div>
                <div class="right-side">
                    <button type="submit" class="btn secondry-btn">
                        Re-schedule
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="saloon_list_section">
    <div class="row">
        <div class="col-sm-12 top_heading d-flex justify-content-between">
            <div class="">
                <h2 class="font-bold heading">Salons & Specialist</h2>
            </div>
            <div class="view_btn">
                <button type="submit" class="btn secondry-btn font-medium">View All</button>
            </div>
        </div>
    </div>
    <div class="row  align-items-start">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card  row align-items-start">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class="">
                                    <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road,
                                        Oniru Estate, Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star"></i>
                                    <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img_2.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img_2.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class="">
                                    <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road,
                                        Oniru Estate, Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star"></i>

                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card d-flex align">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img_3.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class=" text-single-line">
                                    <p class="font-medium">Landmark Towers , 5B Water Corporation Road, Oniru Estate,
                                        Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- nav pills -->
