<div class="looks_section">
    <div class="row justify-content-center align-items-center showdow">
        <div class="col-sm-12 col-md-1 col-lg-1 d-flex justify-content-end">
            <img src="assets/img/home-side.png" class="img-fluid mt-5" alt="">

        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="col-9 mx-auto">
                <div class="text_section">
                    <h1 class="font-bold">
                        Make Your Looks Awesome
                    </h1>
                    <div class="small_text font-regular">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        </p>
                    </div>
                    <div class="appointment_btn">
                        <button type="submit" class="btn primary-btn font-semi-bold">Book Appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="img_sec">
                <img src="assets/img/main_sec.png" alt="">
            </div>
            <img src="assets/img/Repeat_Grid.png" class=" grid" alt="">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 text-center Rectangle">
            <img src="assets/img/arrow-down.png" class="img-fluid rect" alt="">
            <img src="assets/img/Rectangle 9.png" class="img-fluid " alt="">
        </div>
    </div>
</div>
<div class="salons-section">
    <app-salons-list></app-salons-list>
</div>

<div class="get_app_section">
    <div class="row">
        <div class="col-sm-12 col-md-10 mx-auto" style="border: 1px solid red;">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="text-section">
                        <h1 class="font-meadium">Get The App Now!</h1>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos perferendis
                            doloribus, laborum corporis facilis, vero blanditiis placeat consequuntur commodi
                            voluptates quos eius quam amet molestias minima culpa sed cupiditate neque.</small>
                        <div class="share_icon d-flex">
                            <span>
                                <img src="" height="40px" width="80px" alt="" style="border: 1px solid red;">
                            </span>
                            <span class="px-4">
                                <img src="" alt="" height="40px" width="80px" style="border: 1px solid red;">

                            </span>

                        </div>


                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
        </div>
    </div>
</div>

<div class="our_section">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service-text  d-flex align-items-center justify-content-center">
                    <div class="service_sec">
                        <h1 class="heading">Our Services</h1>
                        <div class="view_btn mt-4">
                            <button type="submit" class="btn secondry-btn font-medium">View All</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Haircuts & Styling</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card padding_section d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Beard Treatment</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Coloring Services</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 padding_section service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Manicure</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 padding_section service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Pedicure</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Stone Spa </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-11 mx-auto">
        <app-join-us-now></app-join-us-now>
    </div>
</div>



<div class="our_customers">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="heading_text text-center d-flex justify-content-center">
                <h1 class="font-bold heading">Our Happy Customers</h1>
            </div>


            <!-- <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <div class="man">
                            <img src="assets/img/happy_man.png" class="img-fluid man-first" alt="">
                            <img src="assets/img/man_back.png" class="img-fluid man-back" alt="">

                        </div>

                        <p class="font-semi-bold style_text">Elizabeth Brewer</p>
                        <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 mt-5">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="text-center card m-3">
                                <div class="man">
                                    <img src="assets/img/happy_man.png" class=" man-first" alt="">
                                    <img src="assets/img/man_back.png" class=" man-back" alt="">
                                </div>
                                <p class="font-semi-bold style_text">Elizabeth Brewer</p>
                                <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="card m-3 text-center">
                                <div class="man">
                                    <img src="assets/img/happy_man.png" class=" man-first" alt="">
                                    <img src="assets/img/man_back.png" class=" man-back" alt="">

                                </div>

                                <p class="font-semi-bold style_text">Elizabeth Brewer</p>
                                <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="text-center card m-3">
                                <div class="man">
                                    <img src="assets/img/happy_man.png" class=" man-first" alt="">
                                    <img src="assets/img/man_back.png" class=" man-back" alt="">

                                </div>

                                <p class="font-semi-bold style_text">Elizabeth Brewer</p>
                                <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="text-center card m-3">
                                <div class="man">
                                    <img src="assets/img/happy_man.png" class=" man-first" alt="">
                                    <img src="assets/img/man_back.png" class=" man-back" alt="">

                                </div>

                                <p class="font-semi-bold style_text">Elizabeth Brewer</p>
                                <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="row make-over-section">
        <div class="col-11 mx-auto">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="border: 1px solid green;">
                    <div class="text_sec">
                        <h5 class="font-regular">Membership</h5>
                        <h2 class="font-bold">Start Your Makeover <br> Journey Today.</h2>
                        <p class="font-regular">Join Us & Make Your Time & Money Worth & Get Expert Facilities.</p>
                        <div class="login_btn">
                            <button class="secondry-btn">Login</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class=" text-center">
                                    <h4 class="font-bold mb-0" style="color: #FE594E;">3255+</h4>
                                    <p class="font-regular mb-0">Happy Coustomers</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="text-center">
                                    <h4 class="font-bold mb-0" style="color: #FE594E;">3255+</h4>
                                    <p class="font-regular mb-0">Salons</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="text-center">
                                    <h4 class="font-bold mb-0" style="color: #FE594E;">3255+</h4>
                                    <p class="font-regular mb-0">Beauticians</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="text-center">
                                    <h4 class="font-bold mb-0" style="color: #FE594E;">3255+</h4>
                                    <p class="font-regular mb-0">Etisfication</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="girl_img col-xl-3">
                    <img src="assets/img/gils_pink.png " width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-section">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="heading_text text-center">
                <h1 class="font-bold heading">App Features</h1>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mob-res">
                    <div class="img_sec">
                        <img src="assets/img/Group 55814@2x.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 Features_top_padding service_card d-flex align-items-center justify-content-center">
                            <div class=" text-center">
                                <img src="assets/img/herbel.png" alt="">
                                <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  service_card d-flex align-items-center justify-content-center">
                            <div class=" text-center">
                                <img src="assets/img/herbel.png" alt="">
                                <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  Features_top_padding  service_card d-flex align-items-center justify-content-center">
                            <div class=" text-center">
                                <img src="assets/img/herbel.png" alt="">
                                <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  service_card d-flex align-items-center justify-content-center">
                            <div class=" text-center">
                                <img src="assets/img/herbel.png" alt="">
                                <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-blog-list></app-blog-list>