h1:after {
  content: "";
  border: 2px solid #FB634F;
  display: block;
  position: absolute;
  left: 36%;
  margin: auto;
  width: 64px;
  transform: -50%, -50%;
}
  .forms-details {
    margin-bottom: 1rem;
  }
  .tag{
    color: #FE594E;
}
a{
    text-decoration: none;
}