<div class="row mb-5">
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-6 col-xxl-5 mx-auto">
        <div class="card px-5 py-3">
            <div class="row mx-0">
                <div class="col-sm-12 col-md-8 mx-auto px-0">
                    <h1 class="text-center">Change Password</h1>
                    <form [formGroup]="ChangePasswordForm">
                        <div class="forms-details">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control" formControlName="password" type="password"
                                        placeholder="Old password"
                                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                        <div *ngIf="f['password'].errors['required']">Password is required
                                        </div>
                                        <div *ngIf="f['password'].errors['minlength']">
                                            Password must be at least 6 characters
                                        </div>
                                        <div *ngIf="f['password'].errors['maxlength']">
                                            Passord must not exceed 40 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="forms-details">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control" formControlName="new_password" type="password"
                                        placeholder="New password"
                                        [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }" />
                                    <div *ngIf="submitted && f['new_password'].errors" class="invalid-feedback">
                                        <div *ngIf="f['new_password'].errors['required']">New password is required
                                        </div>
                                        <div *ngIf="f['new_password'].errors['minlength']">
                                            New password must be at least 6 characters
                                        </div>
                                        <div *ngIf="f['new_password'].errors['maxlength']">
                                            New password must not exceed 40 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="forms-details">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control" formControlName="confirmpassword" type="password"
                                        placeholder="Confirm password"
                                        [ngClass]="{ 'is-invalid': submitted && f['confirmpassword'].errors }" />
                                    <div *ngIf="submitted && f['confirmpassword'].errors" class="invalid-feedback">
                                        <div *ngIf="f['confirmpassword'].errors['required']">confirm password is required
                                        </div>
                                        <div *ngIf="f['confirmpassword'].errors['minlength']">
                                            confirm password must be at least 6 characters
                                        </div>
                                        <div *ngIf="f['confirmpassword'].errors['maxlength']">
                                            confirm password must not exceed 40 characters
                                        </div>
                                        <div *ngIf="f['confirmpassword'].errors['mustMatch']">
                                            Confirm password not matched
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login_btn">
                            <button class="btn primary-btn w-100" type="submit" (click)="changePassword()">Change Password</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="card-bottom-dot d-flex justify-content-end">
            <img src="assets/img/rectangle.png" class="img-fluid" alt="">
        </div>
    </div>
</div>