<div class="popup-modal">
    <div class="modal-header">
        <h3 class="modal-title">Haircuts & Styling</h3>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

        <h6 style="color: #FE594E;" >Haircuts & Styling</h6>
        <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="box text-center">
                    <p class="mb-0 bolder">Straight</p>
                    <span> $5.43</span>
                </div>
            </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 ">

                <div class="box text-center">
                    <p class="mb-0 bolder">Wavey</p>
                    <span> $5.43</span>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="box text-center">
                    <p class="mb-0 bolder">Straight</p>
                    <span> $5.43</span>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="box text-center">
                    <p class="mb-0 bolder">Wavey</p>
                    <span> $5.43</span>
                </div>
            </div>
        </div>
    </div>
</div>