<div class="top_heading ">
    <h2 class="font-bold heading">Rate Salon</h2>

</div>
<div class="second-card d-flex align-items-center justify-content-center">
    <div class="inner-sec text-center">
        <form action="" [formGroup]="ratingForm">
            <div class="head-text">
                <h4>How Was Your Experience With</h4>
            </div>
            <div class="img-sec">
                <img src="assets/img/rate-img.png" alt="">
            </div>
            <h5 style="color: #FE594E;padding: .5rem 0;" class="mb-0">Serenity Salon</h5>
            <div class="star_text mb-4">
                <p style="color: #737374;" class="font-regular mb-0">Rate here</p>
                <!-- <i class="fa fa-star"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i> -->
                <ngx-star-rating formControlName="stars" [id]="'stars'"></ngx-star-rating>
            </div>
            <div class="forms-details mt-5">
                <textarea class="form-control" name="" formControlName="review" placeholder="Message"></textarea>
            </div>

            <div class="text-center  mt-3">
                <button type="submit" class="btn primary-btn" (click)="reviewAdd()">submit</button>
            </div>
        </form>
    </div>


</div>