<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-6 col-xxl-5 mx-auto">
        <div class="card px-5 py-3">
            <div class="row mx-0">
                <div class="col-sm-12 col-md-8 mx-auto px-0">
                    <h1 class="text-center mb-3">Reset Password</h1>
                    <form [formGroup]="resetPasswordForm">
                        <div class="forms-details">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control" formControlName="password" type="password" placeholder="Enter your password" 
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['password'].errors['password']">Password is invalid</div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="forms-details mt-3">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div class="col-10">
                                    <input class="form-control" formControlName="Confirmpassword" type="password" placeholder="Enter your confirm password" 
                                    [ngClass]="{ 'is-invalid': submitted && f['Confirmpassword'].errors }" />
                                        <div *ngIf="submitted && f['Confirmpassword'].errors" class="invalid-feedback">
                                            <div *ngIf="f['Confirmpassword'].errors['Confirmpassword']">Confirm Password is invalid</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <button class="btn primary-btn w-100" (click)="resetPassword()" type="submit">Reset Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-bottom-dot d-flex justify-content-end">
            <img src="assets/img/rectangle.png" class="img-fluid" alt="">
        </div>
    </div>
</div>