<div class="popup-modal">
    <div class="modal-header">
        <h3 class="modal-title">Select Services</h3>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="img-sec">
            <img src="assets/" alt="payment-success-img">
        </div>
        <div class="text-sec">
            <h6 class="font-semi-bold">Payment Successful</h6>
            <small style="color: #B8B8B8;">Your Appointment At The Bull Horn Saloon Is Schedule Order No.#2258973</small>
        </div>
        <div class="btn-sec text-center">
            <button type="submit" class="btn primary-btn">Done</button>
        </div>
    </div>
</div>