
  <div class="row top_heading">
    <div class="col-sm-12 col-md-4">
      <h2 class="font-bold heading">Payments </h2>
    </div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-end">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="forms-details">
                    <input class="form-control" type="text" placeholder="Search by Customer name, date & Specialist" />
                </div>
             
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="view_btn">
                    <button type="submit" class="btn secondry-btn font-medium">
                      Search Now
                    </button>
                  </div>
            </div>
        </div>
     
      
    </div>
  </div>

  <div class="table-section table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th class="font-medium" >Customer</th>
            <th class="font-medium" >Specialist</th>
            <th class="font-medium" >Date & Time</th>
            <th class="font-medium" >Service</th>
            <th class="font-medium" >Fee</th>
            <th class="font-medium" >Source</th>
            <th class="font-medium" >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td style="color:#FE594E ;" class="d-flex align-items-cnter">
                <img src="assets/img/user_img.png" height="30px" width="30px" alt="">
               <p> Serenity Salon</p>
            </td>
            <td style="color: #474A5C;">John Canady</td>
            <td style="color: #474A5C;">OCT 18, 2022 AT 12:00 PM</td>
            <td style="color: #474A5C;">1</td>
            <td style="color: #474A5C;">$1</td>
            <td style="color: #474A5C;">
            <span style="color: #F88138;">Online</span>
            </td>
            <td>
                <img src="assets/img/three-dots.png" alt="">
            </td>

          </tr>
        
          
        </tbody>
      </table>
  </div>