<div class="top_heading ">
        <h2 class="font-bold heading">Salons & Specialist</h2>
    </div>


<div class="serach-field">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="forms-details">
                <input class="form-control" type="password" placeholder="Enter Keyword" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 res">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 res">
            <select class="form-select" aria-label="Default select example">
                <option selected>s</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 res sle">
            <select class="form-select" aria-label="Default select example">
                <option selected>s</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 search-btn d-flex justify-content-end">
            <button class="btn primary-btn"> Search Now</button>
        </div>
    </div>
</div>

<div class="saloon_list_section">
    <div class="row">
        <div class="col-sm-12 top_heading d-flex justify-content-between">
            <div class="">
                <h6 class="font-medium ">9 Search Result</h6>
            </div>
            <div class="view_btn" routerLink="/home/admin/specialist-view">
                <span>
                    <img src="assets/img/collapse.png" alt="">
                </span>
               
            </div>
        </div>
    </div>
    <div class="row  align-items-start">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card  row align-items-start">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class="">
                                    <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road,
                                        Oniru Estate, Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star"></i>
                                    <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img_2.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img_2.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class="">
                                    <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road,
                                        Oniru Estate, Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star"></i>

                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="card d-flex align">
                <div class="main_section">
                    <div class="img_sec">
                        <img src="assets/img/large_img.png" alt="">
                    </div>
                    <div class="sub_section">
                        <div class="d-flex">
                            <div class="small_img">
                                <img src="assets/img/small_img_3.png" alt="">
                            </div>
                            <div class="text_section">
                                <div class="heading_text">
                                    <h3>Serenity Salon</h3>
                                </div>
                                <div class=" text-single-line">
                                    <p class="font-medium">Landmark Towers , 5B Water Corporation Road, Oniru Estate,
                                        Victoria Island ,
                                        Lagos , Nigeria.</p>
                                </div>
                                <div class="star_text">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating">4.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
