.serach-field{
    padding: 2rem 0;
}
.search-btn{
    .primary-btn{
        padding: 15px 1rem;
    }

}

.saloon_list_section {
    padding-bottom: 3rem;
}

.main_section {
    padding: 1rem;
}

.top_heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .heading {
        letter-spacing: 1.73px;
        line-height: 45px;
        position: relative;
    }

    .heading::after {
        content: "";
        border: 2px solid #FB634F;
        display: block;
        position: absolute;
        left: 0;
        margin: auto;
        width: 100px;
        transform: -50%, -50%;
    }


}

.sub_section {
    padding-top: 1rem;
}

.text_section {
    padding-left: 1rem;
}

.img_sec img {
    min-height: 270px;
    max-height: 270px;
    width: 100%;
}

.star_text {
    .fa {
        color: #FE594E;
        padding-left: .5rem;
    }
}

.card {
    margin-bottom: 1rem;
    max-height: 426px;
    min-height: 426px;
}

.text-single-line {
    opacity: 0.45;
}

.heading_text h3 {
    font-size: 20px;
    color: #FE594E;
}

.small_text p {
    font-size: 9px;
}
