<footer class="section">
    <div class="footer_section">
        <section>
            <div class="log_sec text-center mt-5">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="meanu_sec">
                <ul>
                    <li  routerLink='/home'>
                        <a href="">Home</a>
                    </li>
                    <li  routerLink='/home/salons'>
                        <a href="">Salons</a>
                    </li>
                    <li  routerLink='/home/blog'>
                        <a href="">Partners</a>
                    </li>
                    <li  routerLink='/home/contact-us'>
                        <a href="">Abouts Us</a>
                    </li>
                    <li routerLink='/home/contact-us'>
                    <a href="">Contact</a>    
                    </li>
                </ul>
            </div>
            <div class="meanu_sec text-center mt-5">
                <ul class="text-center icon-center">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>

                </ul>
            </div>
            <hr class="mt-5">
            <div class="text-center copy">
                Copyright © 2022 Scarlett App Inc. All rights reserved
            </div>
        </section>

    </div>
    <div class="share_app_section">
        <div class="row">
            <div class="col-9 mx-auto pt-3 mt-5">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="start_text">
                            <h6>So What's Next ?</h6>
                            <h3>Are You Ready? Let's Start!</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="share_section">
                            <div class="app_store ">
                                <div class="iphone">
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                </div>
                                <button class="btn primary-btn ">
                                <p class="btn-left d-flex ">Available on the</p>
                               <p class="btn-app"> App Store </p></button>

                            </div>
                            <div class="google_store mrleft pl-4">
                                <div class="iphone">
                                    <i class="fa fa-apple" aria-hidden="true"></i>

                                </div>
                                <button class="btn primary-btn">
                                    <p class="btn-left d-flex">Available on the</p>
                                    <p class="btn-app"> App Store </p>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>