<section>
  <div class="row">
    <div class="top_heading">
      <h2 class="font-bold heading">More</h2>
    </div>
    <div class="card mt-3">
      <div class="d-flex justify-content-between" routerLink="edit-profile">
        <div class="heading">
          <img src="assets/img/more-image/edit-profile.svg" alt="" />
          <span class="title">Edit Profile</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="settings">
        <div class="heading">
          <img src="assets/img/more-image/settings.svg" alt="" />
          <span class="title">Settings</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="services">
        <div class="heading">
          <img src="assets/img/more-image/hair-salon.svg" alt="" />
          <span class="title">Services</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="transaction-list">
        <div class="heading">
          <img src="assets/img/more-image/transactions.svg" alt="" />
          <span class="title">Transaction list</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="/home/admin/employee-list">
        <div class="heading">
          <img src="assets/img/more-image/transactions.svg" alt="" />
          <span class="title">Saloon Employee</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="about">
        <div class="heading">
          <img src="assets/img/more-image/about-us.svg" alt="" />
          <span class="title">About Us</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="terms-condition">
        <div class="heading">
          <img src="assets/img/more-image/terms-and-conditions.svg" alt="" />
          <span class="title">Terms & Condition</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="privacy-policy">
        <div class="heading">
          <img src="assets/img/more-image/privacy-policy.svg" alt="" />
          <span class="title">Privacy Policy</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="contact-us">
        <div class="heading">
          <img src="assets/img/more-image/contact-us.svg" alt="" />
          <span class="title">Contact Us</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between" routerLink="review-rating">
        <div class="heading">
          <img src="assets/img/more-image/ratings.svg" alt="" />
          <span class="title">Review & Rating</span>
        </div>
        <div>
          <img src="assets/img/more-image/view.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
