<div class="banner_section">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 mx-auto">
            <div class="heading_text">
                <h1 class="heading font-bold">Salons</h1>

                <div class="small_text">
                    <p class="font-medium">Home | Saloons</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-11 mx-auto">
        <div class="serach-field">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="forms-details">
                        <input class="form-control" type="password" placeholder="Enter Keyword" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 res">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 res">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>s</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 res ">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>s</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 res res-bt d-flex justify-content-end">
                    <button class="btn primary-btn"> Search Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-salons-list></app-salons-list>

<app-join-us-now></app-join-us-now>
<app-blog-list></app-blog-list>
